$white: #eeedee;
$gray-light-3: #E4E4E4;
$gray-light-2: #CDCDCD;
$gray-light-1: #B9B8B9;
$gray: #A5A4A5;
$gray-dark-1: #8F8F8F;
$gray-dark-2: #747374;
$gray-dark-3: #626162;
$gray-dark-4: #403F40;
$black: #1b1b1b;

$red-light-2: #E8A0A0;
$red-light-1: #DD8080;
$red: #C65959;
$red-dark-1: #973131;
$red-dark-2: #762424;

$green-light-2: #B7D7A4;
$green-light-1: #9BC97F;
$green: #88AD71;
$green-dark-1: #629741;
$green-dark-2: #437226;

$blue-light-2: #A2B7DD;
$blue-light-1: #809FD9;
$blue: #5F80BF;
$blue-dark-1: #315BA9;
$blue-dark2: #173A7B;


$main-font: 'Lato', sans-serif;